################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Facial Recognition/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Facial Recognition/__pycache__/Data_Manager.cpython-37.pyc
